<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Withdraw Money</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
<style>
        body {
            background-image: url("static/with1.jpg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            min-height: 100vh;
            background-size:140% auto;
            background-size: auto 140%;
    }
    body h2{
    color:blue;
    }
</style>
</head>
<body class="bg-light">

    <nav class="navbar navbar-dark bg-dark mb-4">
        <div class="container">
            <span class="navbar-brand">Withdraw Money</span>
        </div>
    </nav>
    {% extends "layout.html" %}
{% block content %}

<h2>Withdraw Money</h2>

<form method="POST">
    <div class="form-group">
        <label for="amount">Amount to Withdraw</label>
        <input type="number" name="amount" step="0.01" class="form-control" required>
    </div>

    <button type="submit" class="btn btn-danger mt-3">Withdraw</button>
</form>

{% endblock %}



</body>
</html>
